// abstracts/_mixins.scss
@use 'sass:color';
@use 'variables' as vars;

@mixin nav-link-typography {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}