@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mxn;

.family-values-container{
  background: vars.$main-background-color;
}

.family-values-banner{

  position: relative;
  max-width: 1312px;

  margin: 0 auto;

  .dna{
    background-repeat: no-repeat;
    background-image: url('../images/embryon 1.svg');
    background-size: cover;
    mix-blend-mode: screen;
    z-index: 0;
  }
  .row{
    .family-content{

      background-image:
              url('../images/icon1.svg'),
              url('../images/icon2.svg'),
              url('../images/icon3.svg'),
              url('../images/icon4.svg'),
              url('../images/icon5.svg');
      background-position:
              bottom 200px  left,
              bottom 200px left 600px,
              bottom 200px  left 330px,
              bottom  left 120px,
              bottom left 500px;

      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
       padding-top: 90px;
      padding-bottom: 423px;
      h3{
        @include mxn.nav-link-typography-h3;
      }
      .paragraph{
        display: block;
        text-align: justify;
        padding-right: 183px;
        p {
          @include mxn.nav-link-typography-p;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .family-values-banner .row .family-content{

    background-image:
            url('../images/icon1.svg'),
            url('../images/icon3.svg'),
            url('../images/icon4.svg');
    background-size: 40% auto, 40% auto, 40% auto !important;
    background-position:
            bottom 180px  left,
            bottom 180px  left 360px,
            bottom  left 180px !important;

    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;

    h3{

      @include mxn.nav-link-typography-h3-mobile;

    }
    .paragraph{
      padding-right: 0 !important;
      text-align: start;
      p{
        @include mxn.nav-link-typography-p-mobile;
      }
    }


  }
  @media (max-width: 567px) {
    .family-values-banner .row .family-content {
      background-size: 50% auto, 50% auto, 50% auto !important;

      background-position: bottom 200px left,
      bottom 200px left 200px,
      bottom 100px left 100px !important;
    }
  }


}

