@use '../abstracts/mixins' as mxn;

.genome-benefits{
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 32px 90px 32px;
  h3{
    @include mxn.nav-link-typography-h3;
  }
  h4{
    @include mxn.nav-link-typography-h4;
  }
  p{
    @include mxn.nav-link-typography-p;
    text-align: start;
  }

  .row:nth-child(1), .row:nth-child(2){
    margin-bottom: 64px;
  }
  .row:nth-child(2) {
    min-height: 176px;
    --bs-gutter-x: 1.5rem;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);


    .col-12{

      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);

    .row .d-flex {
      padding-right: 0;




      .image {
        top: 28px;
        left: 28px;
        width: 108px;
        height: 108px;
      }
      .col-6{
        margin-left: 0;
        margin-right: 0;
      }
    }

    }
  }



  .image{

    img{
      width: 100%;
      height: 100%;
    }
  }

  a{
    @include mxn.btn-base;
    padding: 14px 48px;
  }
}

@media screen and (max-width: 1200px){
  .genome-benefits {
    padding: 90px 32px 90px 32px;
    h4{
      @include mxn.nav-link-typography-h4-mobile;
    }
    p{
      @include mxn.nav-link-typography-p-mobile;
    }
  }
  }

.content{
  max-width: 250px;
  h4{

    text-align: start;
    @media screen and (max-width: 768px){
      margin-right: 0;
      text-align: center;
    }
  }
  p{

    text-align: left;
  }
}

