@use '../abstracts/mixins' as mxn;

header{
  .container{

    img{
      max-width: 246px;
    }
    max-width: 1312px;
    margin: 0 auto;
    .navbar-collapse{
      .navbar-nav{

      }
      .nav-link{
        @include mxn.nav-link-typography;

      }
      .d-flex{
        .btn{
          @include mxn.nav-link-typography;
          border: 2px solid #f45b69;
          border-radius: 32px;
          padding: 8px 20px;
        }
        .btn:hover{
          background: #f45b69;
          color: #fff;
        }
      }
    }
  }
}