@use '../abstracts/mixins' as mxn;

header{
  margin-bottom: 103px;
  .container{

    img{
      max-width: 246px;
    }
    max-width: 1312px;
    margin: 0 auto;
    .navbar-collapse{
      .navbar-nav{

      }
      .nav-link{
        @include mxn.nav-link-typography;

      }
      .d-flex{
        .btn {
          @include mxn.btn-base;
        }
      }
    }
  }
}