@use '../abstracts/mixins' as mxn;



.quotes{
  max-width: 1312px;
  padding: 90px 0 90px 0;
  h3{
    @include mxn.nav-link-typography-h3;
  }
  p{
    @include mxn.nav-link-typography-p;
  }
  h4{
    @include mxn.typography($weight: 600, $size: 20px, $line-height: 150%, $color: #114b5f);
  }

  .row:nth-child(1){
    margin-bottom: 40px;
    .col-lg-2{
      justify-content: end;
    }
  }

  .row:nth-child(2) .owl-carousel-quotes .col-lg-45 {
    background: #eafcff;
    padding: 32px 32px 32px 0;
    min-height: 336px;


    .d-flex{
      top: 248.5px;
      gap: 16px;


      .name{
        p{

          margin-bottom: 0;
        }
      }

    }
    .img-fluid{
      width: auto;
    }
  }


  .row:nth-child(2) .owl-carousel-quotes .col-lg-45 {
    padding-left: 32px;
    max-width: 420px;
    margin: 0 auto;

  }




}


.custom-next, .custom-prev{
  border:0;
  background: none;
  text-align: center;
}


@media (max-width: 1400px) {
  .quotes {
    .row:nth-child(2) .owl-carousel-quotes .col-lg-45 {
      min-height: 400px;
      .d-flex {
        top:272px;}

    }
  }
}




@media (max-width: 1200px){
  .quotes {
    .row:nth-child(2) .owl-carousel-quotes .col-lg-45 {
      min-height: 360px;
      padding-left: 24px !important;
      padding-right: 24px !important;
      background: #eafcff;

      .d-flex {
        top:272px;
        h4{
          @include mxn.typography($weight: 600, $size: 16px, $line-height: 150%, $color: #114b5f);
        }
        p{
          @include mxn.typography($weight: 400, $size: 14px, $line-height: 150%, $color: #597d89);
        }

      }


      p{
        margin-bottom: 24px;
      }

    }
      .row:nth-child(2) .owl-carousel-quotes .col-lg-45::after,
      .row:nth-child(2) .owl-carousel-quotes .col-lg-45::before {
        display: none;
      }


    }




  .quotes .owl-carousel-quotes {
    margin-bottom: 24px;
  }

  .quotes .row:last-child {
    position: relative;
  }

  .quotes .row:last-child::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  .quotes .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .quotes .mobile-nav .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    margin-left: 30px;
  }

  .quotes .mobile-nav .pagination span {
    color: #333;
  }



  .quotes .mobile-nav button {
    width: 30px;
    height: 30px;
  }

}

@media (max-width: 568px) {



  .quotes {
    padding-left: 24px;
    padding-right: 24px;
    .row:nth-child(2) .owl-carousel-quotes .col-lg-45 {
      .d-flex {
        top:272px;
        h4{
          @include mxn.typography($weight: 600, $size: 16px, $line-height: 150%, $color: #114b5f);
        }
        p{
          @include mxn.typography($weight: 400, $size: 14px, $line-height: 150%, $color: #597d89);
        }

      }
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 24px;
    }
  }

  .owl-carousel-quotes .owl-item {
    display: flex;
    height: auto;
    justify-content: center;

  }

}


.main-text{
  min-height: 196px;
}




