body{
  overflow-x: hidden;

}

.woman {
  top:205px;
  left: 280px;
  transform-origin: center;
  .circles {
    top: 90px;
    div:nth-child(1) {
      top: 35px;
    }
  }
}

@media (max-width: 767.98px){
  .woman{
    top:515px;
    left: 100px;
  }
  .card-custom{
    margin-bottom: 400px !important;
  }
}
